@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap');

body{
background-color: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(190,209,231,1) 100%);
}

.card {
    display: flex;
    margin: auto;
    height: 600px;
    width: 400px;
    object-fit: contain;
    border-radius: 25px;
    position: relative;
    padding-top: 100px;
    right: 2px;
 
}

.card2 {
    display:flex;
    position:relative;
    object-fit: contain;
    height: 600px;
    width: 400px;
    padding-top: 104px;
    padding-left: 120px;
    bottom: 707px;
    
}

.card3 {
    display:flex;
    position:relative;
    object-fit: contain;
    height: 600px;
    width: 400px;
    padding-bottom: 695px;
    left: 1374px;
    bottom: 1301px;
    
}

.image{
    border-radius: 25px;
    box-shadow: 0 0 20px rgba(0,0,0.2);
    -webkit-transform: scale(1);
	  transform: scale(1);
	  -webkit-transition: .3s ease-in-out;
	  transition: .3s ease-in-out;
}

.image:hover{
  Opacity: 0.90;
  -webkit-transform: scale(1.0);
	transform: scale(1.1);
}

.image2{
    position: absolute;
    border-radius: 25px;
    box-shadow: 0 0 20px rgba(0,0,0.2);
    left: 120px;
    top: 108px;
    -webkit-transform: scale(1);
	  transform: scale(1);
	  -webkit-transition: .3s ease-in-out;
	  transition: .3s ease-in-out;
    
}

.image2:hover{
  Opacity: 0.90;
  -webkit-transform: scale(1.0);
	transform: scale(1.1);
}

.image3{
    position: absolute;
    border-radius: 25px;
    box-shadow: 0 0 20px rgba(0,0,0.2);
    right: 5px;
    bottom: 693px;
    -webkit-transform: scale(1);
	  transform: scale(1);
	  -webkit-transition: .3s ease-in-out;
	  transition: .3s ease-in-out;
    
}

.image3:hover{
  Opacity: 0.90;
  -webkit-transform: scale(1.0);
	transform: scale(1.1);
}

.text1{
  position: absolute;
  padding-left: 10px;
  font-family: 'Karla', sans-serif;
  
}

.text2{
    position: absolute;
    padding-top: 90px;
    padding-left: 10px;
    font-family: 'Karla', sans-serif;
    font-weight:bold;
    
}

.text3{
    position:relative;
    padding-top: 90px;
    padding-left: 10px;
    font-family: 'Karla', sans-serif;
    font-weight:bold;
}

.TopBar{
  top:0px;
  left:0px;
  right: 0px;
  display:block;
  position:fixed;
  background-color:#34495E;
  z-index: 5
  
}

.Title{
 font-family: 'Karla', sans-serif;
 font-weight: bold;
 
}